html, body {
    background-color: #1c252e;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
}

::selection {
    background: #FF4654;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c252e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF4654;
    border-radius: 5px;
}

@font-face {
    font-family: "Poppins regular";
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins bold";
    src: url(fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(fonts/Montserrat-Regular.otf) format("truetype");
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title img {
    height: 200px;
}

.agents {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*h1 {*/
/*    font-family: "Poppins bold" , sans-serif;*/
/*    color: #FF4654;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

h2 {
    font-family: "Poppins regular" , sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: Montserrat-Regular;
    color: white;
}

img {
    height: 250px;
    margin-top: 10px;
}

.agentBox{
    background-color: rgba(116, 116, 116, 0.29);
    border-radius: 25px;
    padding: 10px;
}

.agents {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 17% 17% 17% 17% 17% 17%;
    gap: 30px 30px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
}

/*.abilityImages{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.abilityImages img{*/
/*    height: 60px;*/
/*    justify-content: center;*/
/*}*/

/*.abilityNames{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.abilityNames p{*/
/*    display: flex;*/
/*    font-family: "Poppins regular", sans-serif;*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    padding: 0px 10px 15px 10px;*/
/*}*/

.audioContainer{
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
}

table td{
    text-align: center;
}

table img{
    height: 60px;
    opacity: .4;
}

.currentAbility{
    opacity: 1;
}

table img:hover{
    opacity: 1;
}

table p{
    font-family: "Poppins regular", sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
}

.abilityDescription{
    background-color: rgba(116, 116, 116, 0.29);
    border-radius: 25px;
    padding: 10px;
}